@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&family=Ubuntu&display=swap");

*,
html {
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-family: "Poppins", sans-serif;
	max-height: 100%;
	max-width: 100%;
}

h2,
h1 {
	font-family: "Ubuntu", sans-serif;
}

.jumbotron {
	max-width: 100%;
	margin-bottom: -5px;
	padding: 40px;
	text-align: center;
}

.img-jumbo {
	width: 500px;
	max-width: 100%;
}

@media screen and (min-width: 300px) {
	.nav-ul {
		list-style-type: none;
		display: flex;
		max-width: 100%;
		height: 100px;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}

.nav-li {
	margin: 10px;
	padding: 8px 20px 8px 20px;
	border: 1px solid black;
	border-radius: 11px 11px 11px 11px;
	background-color: lightgray;
	font-size: 20px;
	box-shadow: 10px 10px 0px 0px;
}

li a {
	text-decoration: none;
	color: black;
}

nav a:hover {
	border-radius: 11px 11px 11px 11px;
	padding: 8px 20px 8px 20px;
	background-color: lightgray;
	font-size: 20px;
}

.container-content {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 5%;
}

.card {
	background-color: lightgray;
	margin: 5px;
	border-radius: 11px 11px 11px 11px;
	border: 1px solid;
	box-sizing: border-box;
	max-width: 100%;
	padding: 25px;
}

#pendidikan,
#skill {
	list-style-position: inside;
}

footer {
	max-width: 100%;
}

.logo {
	display: flex;
	justify-content: center;
	flex-direction: row;
	max-width: 100%;
}
.img-footer {
	box-sizing: border-box;
	max-width: 100%;
	background-color: gainsboro;
	border-radius: 11px 11px 11px 11px;
	height: 50px;
	padding: 5px;
	margin-bottom: 15px;
	box-sizing: border-box;
	margin: 10px;
	padding: 10px;
}

a:hover {
	box-sizing: border-box;
	margin: 3px;
	padding: 3px;
}

footer p {
	display: flex;
	justify-content: center;
}
